.hero {
    padding: 100px 0 50px; /* Augmente l'espace en haut */
}

@media (max-width: 768px) {
    .hero {
        padding-top: 120px; /* Ajoute plus d'espace sur mobile */
    }
}


.hero-title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10%;
}



.hero img {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    max-width: 600px; /* Augmentez la largeur maximale si nécessaire */
    height: auto; /* Conserve le ratio de l'image */
}