.typewriter-text {
    font-size: 3vw; /* Taille ajustable selon la largeur de l'écran */
    font-weight: bold;
    color: #222;
    text-align: left;
    margin-left: 10%;

}

.animated-text {
    color: #9886FE;
}

.subtitle {
    font-size: 1.2rem; /* Taille ajustée pour les petits écrans */
    color: #555;
    text-align: left;
    margin-left: 10%;

}

/* 🖥️ Grands écrans */
@media (min-width: 992px) {
    .typewriter-text {
        font-size: 2.5rem; /* Taille normale sur les grands écrans */
    }
    .subtitle {
        font-size: 1.4rem;
    }
}

/* 📱 Petits écrans */
@media (max-width: 768px) {
    .typewriter-text {
        font-size: 1.8rem; /* Réduit la taille pour mobile */
    }
    .subtitle {
        font-size: 1rem;
    }
}
