.slider-container {
    width: min(600px, 90vw);
    margin: auto;
    text-align: center;
  }
  
  .review-card {
    background-color: #141414;
    color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 400px;
    height: 250px; /* Hauteur fixe pour uniformiser les cartes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .review-card:hover {
    transform: scale(1.05);
  }
  
  .star {
    color: gold !important; /* Assure que les étoiles sont dorées */
    font-size: 20px; /* Taille ajustée */
    margin-right: 2px; /* Espacement entre les étoiles */
    margin-bottom: 30px;
  }
  
  
  .review-text {
    margin: 60px 0;
    font-size: 20px;
    line-height: 1.4;
  }
  
  /* Animation fluide en continu */
  .swiper-wrapper {
    display: flex;
    transition-timing-function: linear !important;
  }
  
  /* Supprime les boutons et la pagination */
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none !important;
  }

  .slider-container h2{
    font-weight: 600;
    font-size: 20px;
    color: #9886FE;
    margin-bottom: 30px;
    margin-top: 140px;
  }
  