/* Section About */
.about {
    padding: 50px 0;
    border-radius: 10px;
}

.about-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-body {
    padding: 20px;
}

.about-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5a5a5a;
}

.about-body h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.about-body p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


/* Responsivité */
@media (max-width: 768px) {
    .about {
        text-align: center;
    }
    
    .about-img {
        margin-bottom: 20px;
    }

    .login-btn {
        width: 100%;
    }
}
