/* Contact.css */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: -110px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .contact-col {
    flex: 1;
    margin: 0 20px;
  }
  .contact-col form input {
    pointer-events: auto;
    user-select: auto;
  }
  
  
  .contact-col h2 {
    font-size: 2.5rem;
    color: #9886FE;
    margin-bottom: 20px;
  }
  
  .contact-col h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .contact-col h3 img {
    width: 25px;
    margin-left:10px;
    margin-bottom: -33px;
  }
  
  .contact-col p {
    font-size: 1rem;
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .contact-col form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-col form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .contact-col form input,
  .contact-col form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  .contact-col form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact-col form button {
    background-color: #9886FE;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
  }
  
  .contact-col form button img {
    width: 20px;
    margin-left: 10px;
    
  }
  
  .contact-col form button:hover {
    background-color: #4b3f93;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact {
      flex-direction: column;
      padding: 20px;
    }
  
    .contact-col {
      margin: 0;
      margin-bottom: 30px;
    }
  
    .contact-col h2 {
      font-size: 2rem;
    }
  
    .contact-col h3 {
      font-size: 1.2rem;
    }
  
    .contact-col p {
      font-size: 0.9rem;
    }
  
    .contact-col form input,
    .contact-col form textarea {
      font-size: 0.9rem;
    }
  
    .contact-col form button {
      font-size: 0.9rem;
    }
  }
  .contact-col span{
    display: block;
    margin:20px 0 ;
  }