
:root{
    --primary-dark : #000000;
    --primary-purple: #9886FE;
    --primary-white:#fff;
}


/******************NAVBAR**********************/

.logo{
    width: 5.625rem;
}

/*********** LINKS *******************/

.navbar-nav .nav-link {
    font-weight: 400;
    letter-spacing: 0.038rem;
    cursor: pointer;
    color: var(--primary-dark) !important; /* Couleur normale */
    background-color: var(--primary-white) !important;
    border-radius: 1.875rem;
    padding: 1.1rem 1.5rem ;
    font-size: 1rem;
    white-space: nowrap;
    margin-bottom: 0;

}

/* Changement de couleur au survol */
.navbar-nav .nav-link:hover {
    background-color: var(--primary-purple) !important;
    color: var(--primary-white) !important;
    transition: 0.2s ;
}

/* Changement de couleur lorsqu'un lien est actif */
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: var(--primary-purple) !important;
    background-color: var(--primary-white) !important;

}


nav ul li{
    text-transform: uppercase;
}

.navbar-nav > li > a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 0.1874rem;
    /* color: var(--primary-dark) !important; */

}

.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    height: 6rem !important;
}

.navbar.fixed-top {
    background: transparent;
    box-shadow: none;
  }
  
  .navbar.scrolled {
    backdrop-filter: blur(2.813rem);
}

.d-flex .btn {
    margin-left: 1.25rem; /* Espacement entre les liens et le bouton */
    background-color: var(--primary-purple);
    color: #fff;
    white-space: nowrap;

  }
  

  /* ✅ Overlay du popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  /* Styles pour les liens dans le menu mobile */
.navbar-collapse.show .nav-link {
    color: var(--primary-purple) !important; /* Couleur du texte */
    background-color: var(--primary-white) !important; /* Fond */
    margin: 0.5rem 0; /* Espacement entre les liens */
    border-radius: 1.875rem; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
}

/* Changement de couleur au survol dans le menu mobile */
.navbar-collapse.show .nav-link:hover {
    background-color: var(--primary-purple) !important;
    color: var(--primary-white) !important;
    transition: 0.2s;
}
/* Styles pour le menu mobile */
.navbar-collapse.show {
    backdrop-filter: blur(35px);
    padding: 1rem; /* Espacement interne */
    border-radius: 0.5rem; /* Coins arrondis */
    margin-top: 1rem; /* Espacement par rapport au logo */
}


 
  
  
