/* ----- Conteneur Principal ----- */
.container-login {
    width: 100%;
    padding: 15px;
    

}

/* ----- Boîte principale ----- */
.box-area {
    width: 90%;
    max-width: 1000px;

}

/* ----- Partie gauche (Image) ----- */
.left-box {
    background: #F8F4F1;
    text-align: center;
}

.featured-image img {
    max-width: 100%;
    height: auto;
}

/* ----- Responsive (Écrans < 768px) ----- */
@media only screen and (max-width: 768px) {
    .box-area {
        flex-direction: column;
        width: 95%;
    }

    .left-box {
        display: none; /* Cacher l'image sur mobile */
    }

    .right-box {
        width: 100%;
        padding: 20px;
    }

    .btn-close {
        top: 10px;
        right: 10px;
    }

    .avatar-option {
        width: 40px !important;
        height: 40px !important;
    }
}

/* ----- Très petits écrans (< 480px) -----
@media only screen and (max-width: 480px) {
    .header-text h2 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 1rem;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px;
    }

    .text-center small {
        font-size: 0.9rem;
    }
} */
